@use "../../../../styles/partials/bootstrap" as bs;
@import "../../../../styles/partials/variables";


.videostatsbackground{
    @include bs.padding16;

    @include bs.desktop{
        @include bs.paddingdesktop;
    }
}

.videostats{
    border-bottom: 1px solid $silver-second;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2.5rem;

    @include bs.desktop{
        padding-top: 0rem;
        padding-bottom: 0.5rem;
        padding-right: 1.5rem;
    }
}

.leftstats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    &__author{
        @include bs.font700(13px, 18px, $black-second);
    }

    &__date{
        @include bs.font400(13px, 18px, $silver-prime);
    }

    @include bs.desktop{
        flex-direction: row;
    }
}


.rightstats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__likes, &__veiws{
        display: flex;
        padding-left: 2rem;
        &__counter{
        @include bs.font400(13px, 18px, $silver-second);
        padding-left: 0.5rem;
        }
    }

    @include bs.desktop{
        flex-direction: row;
    }
}