@use "../../../../styles/partials/bootstrap" as bs;
@import "../../../../styles/partials/variables";

.commentsectionbackground {
  @include bs.padding16;

  @include bs.desktop{
    @include bs.paddingdesktop;
  }
}

.commentform {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $silver-second;

  &__top{
    @include bs.font700(13px, 18px, $black-prime);
  }

  &__bot {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    @include bs.desktop{
      @include bs.padding24;

    }
  }
}
.commentleft {
  padding-top: 1.25rem;
}
