@use "../../../../styles/partials/bootstrap" as bs;
@import "../../../../styles/partials/variables";

.commentsectionbackground{
    @include bs.padding16;
}

.commentsection{
    background-color: aquamarine;

}

.commentform{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $sliver-prime;

    &__bot{
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-between;
    }
}
.commentleft{
    padding-top: 2.25rem;
}

.commentright{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    margin-left: 1rem;

    &__label{
        margin-bottom: 1rem;
    }
    
    &__textarea{
        margin-bottom: 1rem;
        height: 123px;
        outline: none;
        border-radius: 4px;
        border: 1px solid $sliver-prime;
    }
}