@import "../../../styles/partials/variables";
.generalbutton {
  border: none;
  background-color: $blue-prime;
  color: $white-prime;
  height: 40px;
  border-radius: 4px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.buttonupload {
  width: 100%;

  &__icon {
    position: absolute;
  }

  &__text {
    flex-grow: 1;
    text-align: center;
  }
}

.buttoncomment {
  // width: 100%;

  &__icon {
    position: absolute;
  }

  &__text {
    flex-grow: 1;
    text-align: center;
  }
}
