@use '../../../styles/partials/bootstrap' as bs;
@import "../../../styles/partials/variables";

.generalbutton {
  border: none;
  background-color: $blue-prime;
  color: $white-prime;
  height: 36px;
  border-radius: 4px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  @include bs.font400(12px, 20px, $white-prime);
  // text-decoration: none;
  
  @include bs.tablet{
    height: 40px;
}
  &:hover{
    background-color: $blue-second;
    cursor: pointer;
  } 
}

.buttonupload {
  width: 100%;
  @include bs.tablet{
    width: 150px;
    margin-right: 1rem;
  }

  @include bs.desktop{
      // width: 100%;
    margin-right: 2rem;
  }

  &__icon {
    position: absolute;
  }

  &__text {
    flex-grow: 1;
    text-align: center;
  }
}

.buttoncomment {
  &__icon {
    position: absolute;
  }

  &__text {
    flex-grow: 1;
    text-align: center;
  }
}

.buttonpublish{
  width: 100%;
  &__icon {
    position: absolute;
  }

  &__text {
    flex-grow: 1;
    text-align: center;
  }
}

.buttoncancel{
  width: 100%;
  justify-content: center;
  background-color: $white-prime;
  @include bs.font400(12px, 20px, $blue-prime);
}