// Breakpoint dimensions
$postmobile-breakpoint: 321px;
$pretablet-breakpoint: 510px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$postdesktop-breakpoint: 1440px;


//Primary Colors
$black-prime: #323232;
$blue-prime: #0095FF;
$silver-prime: #AFAFAF;
$white-prime: #FFFFFF;

// Secondary Colors
$black-second: #000000;
$blue-second: #0065AD;
$silver-second: #E1E1E1;
$white-second: #FAFAFA;

