.avatar__nav, .avatar__formicon{
    height: 40px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


    &__img1{
        height: 100%;
        // object-fit: contain;
        transform: scale(1);
        transform: translateX(7px);
    }

    &__img2{
        height: 100%;
        // object-fit: contain;
        transform: scale(1);
    }
}