@use "../../../styles/partials/bootstrap" as bs;
@import "../../../styles/partials/variables";

.nxtvideocard{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    // max-height: 4.5rem;
    height:4rem;

    &__thumbnailcontainer{
        // background-color: red;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        min-width: 6.5rem;
        width: 6.5rem;
        // aspect-ratio: 1.7/1;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
    }

    .thumbnail_image{
        object-fit: cover;
        width: 100%;
        height: 100%;
        // position: absolute;
        // left:-2px;
        // top: 0px;
        scale: 1;
        // we might need apply the css via js, 
        // has specific css style on the image depending on 
        // the oriantation and general aspect-ratio
    }

    &__info{
        // background-color: rgb(13, 81, 81);
        height: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .title{
            // white-space: normal;
            // background-color: rgb(199, 210, 202)(30, 0, 255);
            text-overflow: hidden;
            text-overflow: ellipsis;
            @include bs.font700(none, 18px, $black-prime);
            max-height: 75%;
        }

        .author{
            @include bs.font400(13px, 18px, $black-prime);
        }
    }
}