@use "../../styles/partials/bootstrap" as bs;
@import "../../styles/partials/variables";

.videobackgroundwrap{
  @include bs.desktop{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
}

}
.videowrap {
  width: 100%;
  height: 56.25vw;
  background-color: black;
  @include bs.tablet{
    height: 30rem;
    //fix
    aspect-ratio: 1/0.5;
    //fix
  }

  @include bs.desktop{
    width: 75%;
}
}
